.display-none {
  display: none;
}

.display-visible {
  display: block;
}

.position {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}
/* Flex  */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-s-between {
  justify-content: space-between;
}

.justify-s-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-1rem {
  gap: 1rem;
}
